<div class="row">
  <div class="col-lg-6 big-grid">
    <h3>
      {{ blogs[0].btitle }}
    </h3>
    <img src="{{ blogs[0].bimage }}" />
    <p>{{ blogs[0].blog.slice(0, 350) }}...</p>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-5 grid">
        <h4>
          {{ blogs[0].btitle }}
        </h4>
        <img src="{{ blogs[0].bimage }}" />
        <p>{{ blogs[0].blog.slice(0, 100) }}...</p>
      </div>
      <div class="col-lg-5 grid">
        <h4>
          {{ blogs[0].btitle }}
        </h4>
        <img src="{{ blogs[0].bimage }}" />
        <p>{{ blogs[0].blog.slice(0, 100) }}...</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 grid">
        <h4>
          {{ blogs[0].btitle }}
        </h4>
        <img src="{{ blogs[0].bimage }}" />
        <p>{{ blogs[0].blog.slice(0, 100) }}...</p>
      </div>
      <div class="col-lg-5 grid">
        <h4>
          {{ blogs[0].btitle }}
        </h4>
        <img src="{{ blogs[0].bimage }}" />
        <p>{{ blogs[0].blog.slice(0, 100) }}...</p>
      </div>
    </div>
  </div>
</div>
